html{
	background-size: 100% 100%;
	background-image: url('bg.jpg'); 
	min-height: 100%;

}

table{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 95%;
	position: absolute;
    bottom: 30px;

}
td {
	text-align:center;
	line-height: 50%;

	
}

button{
	flex-wrap: wrap;
	border-radius: 25px;
	align-items: flex-start;
	background-color: rgba(122, 5, 120, 0.6);
	color: white;
	font-size: 50px;
	width: 77%;
	line-height: 95%;
	min-height: 175px;
	min-width: 175px;
	
}