#choice-table{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
    height: 80vh;
}

#specialtable{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
    height: 10vh;
}
button{
	flex-wrap: wrap;
	align-items: flex-start;
	background-color: lightgrey;
	width: 100%;
	line-height: 200%;
	height: 25vh;
}
td {
	text-align:center;
	/*height:500px;*/
	font-size:36px;
	line-height: 50%;
	color: black;
	
}

body {
	background-color: white;

}




#kick-btn{
	background-image: url('graphics/Kick.png');
	background-size: 100% 100%;
	display: inline-block;
}

#snare-btn{
	background-image: url('graphics/Snare.png');
	background-size: 100% 100%;
	display: inline-block;
}

#tom1-btn{
	background-image: url('graphics/Tom_1.png');
	background-size: 100% 100%;
	display: inline-block;
}

#tom2-btn{
	background-image: url('graphics/Tom_2.png');
	background-size: 100% 100%;
	display: inline-block;
}

#hihat-btn{
	background-image: url('graphics/Hi_Hat.png'), url('https://miczzz.github.io/MySandbox/drummerapp/App/graphics/Hi_Hat.png');
	background-size: 100% 100%;
	display: inline-block;
}

#becken-btn{
	background-size: 100% 100%;
	background-image: url('graphics/Becken.png');
	display: inline-block;
}

#specialtable td{
	color: blue;
	line-height: 25%;
	width: 20vh;
}

#specialtable button{
	background-color: darkgrey;
	color: black;
	height: 7vh;
}


#weiter-btn{
	background-color: yellow;
}

#chosen-table{
	visibility: hidden;
}
